<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Datos Server 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>Datos Servidor 2</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let p of listaproductos" (click)="change()">
    <ion-card-header>
      <ion-card-title>ID: {{ p._id.$oid }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Autor: {{ p.autor }}<br/>
      Nota: {{ p.nota }}
    </ion-card-content>
  </ion-card>

</ion-content>
