<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sopes1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="change()">
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>MOD Taller CI&CD</ion-card-title>
      <ion-card-subtitle>Universidad de San Carlos de Guatemala</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Autor: Carlos Giovani Gil Chacon<br/>
      Carnet: 201603067
    </ion-card-content>
  </ion-card>

</ion-content>
